/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 21/03/2023 22:22:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ArticleMatrices]    Script Date: 21/03/2023 22:22:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArticleMatrices](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AuthorId] [nvarchar](max) NULL,
	[Author] [nvarchar](max) NULL,
	[Link] [nvarchar](max) NULL,
	[Title] [nvarchar](max) NULL,
	[Type] [nvarchar](max) NULL,
	[Category] [nvarchar](max) NULL,
	[Views] [nvarchar](max) NULL,
	[ViewsCount] [decimal](18, 4) NOT NULL,
	[Likes] [int] NOT NULL,
	[PubDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ArticleMatrices] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20220220152002_InitialScript', N'6.0.2')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20221210220952_InitialMigration', N'6.0.2')
GO
SET IDENTITY_INSERT [dbo].[ArticleMatrices] ON 

INSERT [dbo].[ArticleMatrices] ([Id], [AuthorId], [Author], [Link], [Title], [Type], [Category], [Views], [ViewsCount], [Likes], [PubDate]) VALUES (545, N'sarath-lal7', N'Sarathlal Saseendran', N'https://www.c-sharpcorner.com/article/easily-do-web-scraping-in-net-core-6-0/', N'Easily Do Web Scraping In .NET Core 6.0 ', N'Article', N'Visual Studio', N'13.8k', CAST(138000.0000 AS Decimal(18, 4)), 2, CAST(N'2022-02-20T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[ArticleMatrices] ([Id], [AuthorId], [Author], [Link], [Title], [Type], [Category], [Views], [ViewsCount], [Likes], [PubDate]) VALUES (546, N'sarath-lal7', N'Sarathlal Saseendran', N'https://www.c-sharpcorner.com/article/open-legacy-projects-4-5-framework-in-visual-studio-2022/', N'Open Legacy Projects (4.5 Framework) In Visual Studio 2022 ', N'Article', N'Visual Studio', N'13.8k', CAST(138000.0000 AS Decimal(18, 4)), 2, CAST(N'2022-03-20T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[ArticleMatrices] ([Id], [AuthorId], [Author], [Link], [Title], [Type], [Category], [Views], [ViewsCount], [Likes], [PubDate]) VALUES (547, N'sarath-lal7', N'Sarathlal Saseendran', N'https://www.c-sharpcorner.com/article/crud-operations-with-azure-blob-storage-net-6-and-angular-14/', N'CRUD Operations With Azure Blob Storage, .NET 6, And Angular 14 ', N'Article', N'Visual Studio', N'13.8k', CAST(138000.0000 AS Decimal(18, 4)), 2, CAST(N'2022-07-17T00:00:00.0000000' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[ArticleMatrices] OFF
GO
